{% extends "layout.html" %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock css %}
<div class="tab">
    <button class="tablink" onclick="openTab(event, 'Sent')" id="default">Sent</button>
    <button class="tablink" onclick="openTab(event, 'Received')">Received</button>
    <button class="tablink" onclick="openTab(event, 'Notification')">Notifications</button>
</div>
<div id="Sent" class="tabContent">
    <div class="grid-container">
        {% for invite in invites_sent.items %} 
        <div class="grid-item1">
            <center><span id="heading"> {{ invite.heading }} <br></span>
            {% if invite.heading == "Birthday Party" %}
                <img src="../static/img/birthday1.jpg" alt="" style="width: 200px; height: 200px;"> <br>
            {% elif invite.heading == "Wedding Ceremony" %}
                <img src="../static/img/wedding1.jpg" alt="" style="width: 200px; height: 200px;"> <br>
            {% else %}
                <img src="../static/img/other1.jpg" alt="" style="width: 200px; height: 200px;"> <br>
            {% endif %}
            {{ invite.paragraph }} <br>
            On-{{ invite.date_time }} <br>
            Created : {{ invite.time }} <br>
            Hosted By : {{ invite.host_name }} <br>
            Details : {{ invite.details }} <br> <br>
            Deadline: {{ invite.deadline }} <br>
            </center>
        </div>
        {% endfor %}
    </div>
<hr>
{% for page_num in invites_sent.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if invites_sent.page == page_num %}
            <a href="{{ url_for('dashboard', page1=page_num) }}"><button class="current-page">{{ page_num }}</button></a>
        {% else %}
            <a href="{{ url_for('dashboard', page1=page_num) }}"><button class="other-page">{{ page_num }}</button></a>
        {% endif %}
    {% else %}
    ...
    {% endif %}
{% endfor %}
</div>
<div id="Received" class="tabContent">
    <div class="grid-container">
        {% for invite in invites_received.items %}
            <div class="grid-item2">
                <center><span id="heading"> {{ invite.heading }} <br></span>
                {% if invite.heading == "Birthday Party" %}
                    <img src="../static/img/birthday1.jpg" alt="" style="width: 200px; height: 200px;"> <br>
                {% elif invite.heading == "Wedding Ceremony" %}
                    <img src="../static/img/wedding1.jpg" alt="" style="width: 200px; height: 200px;"> <br>
                {% else %}
                    <img src="../static/img/other1.jpg" alt="" style="width: 200px; height: 200px;"> <br>
                {% endif %}
                {{ invite.paragraph }} <br>
                On-{{ invite.date_time }} <br>
                Created : {{ invite.time }} <br>
                Hosted By : {{ invite.host_name }} <br>
                Details : {{ invite.details }} <br> <br>
                Accept Before: {{ invite.deadline }} <br>
                <div class="user-response">
                    <form action="{{ url_for('action', invite_id=invite.id, action='userResponse') }}" method="post">
                        <textarea name="userResponse" placeholder="User Response" id="" cols="30" rows="8" style="outline: none;"></textarea><br>
                        <input type="submit" value="Send" class="action" style="color: white;">
                    </form>
                </div>
                <div class="aor">
                    <center>
                        {% if date > invite.deadline|string %}
                            <p>Sorry, you can't accept this invitation now. It is expired</p>
                        {% else %}
                            {% if current_user.has_taken_action(invite) %}
                                {% if invite.accepted %}
                                    <p>You have accepted this invitation</p>
                                {% elif invite.rejected %}
                                    <p>You have rejected this invitation.</p>
                                {% endif %}
                            {% else %}
                                <button class="action"><a href="{{ url_for('action', invite_id=invite.id, action='accept') }}">Accept</a></button>
                                <button class="action"><a href="{{ url_for('action', invite_id=invite.id, action='reject') }}">Reject</a></button>
                            {% endif %}
                        {% endif %}
                    </center>
                </div>
                <p id="info" style="display: none;"></p></center>
            </div>
        {% endfor %}
    </div>
<hr>
{% for page_num in invites_received.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if invites_received.page == page_num %}
            <a href="{{ url_for('dashboard', page2=page_num) }}"><button class="current-page">{{ page_num }}</button></a>
        {% else %}
            <a href="{{ url_for('dashboard', page2=page_num) }}"><button class="other-page">{{ page_num }}</button></a>
        {% endif %}
    {% else %}
    ...
    {% endif %}
{% endfor %}
</div>

<div id="Notification" class="tabContent">
    <div class="grid-container">
        {% for notification in notification_received %}
        <center>
            <div class="grid-item3">
                {{ notification.message }} <br>
                {% if notification.type == "userResponse" %}
                        <form action="{{ url_for('action', invite_id=notification.senderId, action='authorResponse') }}" method="post">
                            <textarea name="authorResponse" id="" placeholder="Reply him/her." cols="30" rows="6"></textarea><br>
                            <input type="submit" value="Reply" class="action" style="color: white;">
                        </form>
                {% endif %}
            </div>
        </center>
        {% endfor %}
    </div>
</div>

{% block js %}
<script src="../static/js/dashboard.js"></script>
{% endblock js %}
{% endblock content %}
