<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('home') }}" class="logo">Invitogram</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('home') }}"><i class="fa fa-plus-square" style="font-size:24px"></i></i>New Invite</a></li>
            <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard" style="font-size:24px"></i>Dashboard</a></li>
            <li><a href="{{ url_for('account') }}"><i class="fa fa-user-circle" style="font-size: 24px;"></i>Account</a></li>
            <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out" style="font-size: 24px;"></i>Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}"><i class="fa fa-sign-in" style="font-size: 24px;"></i>Login</a></li>
            <li><a href="{{ url_for('register') }}"><i class="fa fa-user-circle" style="font-size: 24px;"></i>Register</a></li>
            {% endif %}
        </ul>
      </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span class="message">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>